@model SummerBootCampTask.Models.EditUserViewModel

<h4>Edit</h4>

<form  asp-action="Edit" asp-controller="User">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Username</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div>
        <input asp-for="PrivateProfile" />
        <label asp-for="PrivateProfile"></label>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
